# Abstract

Combine final data frames from (1) and (2). 

Create subsets to represent daily energy generation and demand by South Carolina balancing authority, as well as the entire state.

In [1]:
import pandas as pd

In [2]:
%store -r energy1
%store -r energy2

# Combining Data Frames

In [3]:
energy_by_BA = pd.concat([energy1, energy2], axis = 0)

### Sorting Appearance

In [6]:
energy_by_BA['Date'] = pd.to_datetime(energy_by_BA['Date'])
energy_by_BA = energy_by_BA.sort_values(by=['Date', 'Balancing Authority', 'Measurement Code'])
energy_by_BA = energy_by_BA.reset_index(drop=True)

In [7]:
energy_by_BA

,Date,Balancing Authority Code,Balancing Authority,Measurement Code,Measurement,MWh
0,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",D,Demand,80401
1,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",NG,Net Generation,89228
2,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",NUC,Nuclear,23596
3,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",SUN,Solar,2153
4,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",WAT,Hydro,1032
...,...,...,...,...,...,...
34784,2023-07-01,CPLE,Duke Energy Progress East,WAT,Hydro,729
34785,2023-07-01,SC,South Carolina Public Service Authority,D,Demand,86433
34786,2023-07-01,SC,South Carolina Public Service Authority,NG,Net Generation,68687
34787,2023-07-01,SC,South Carolina Public Service Authority,SUN,Solar,1351
34788,2023-07-01,SC,South Carolina Public Service Authority,WAT,Hydro,1212

# Final Data Frame (by Balancing Authority)

In [8]:
%store energy_by_BA

Stored 'energy_by_BA' (DataFrame)

# Aggregating MWh

In [9]:
energy_SC = energy_by_BA.groupby(['Date', 'Measurement Code', 'Measurement'], as_index=False)['MWh'].sum()

In [10]:
energy_SC

           Date Measurement Code     Measurement     MWh
0    2018-07-01                D          Demand  708190
1    2018-07-01               NG  Net Generation  705031
2    2018-07-01              NUC         Nuclear  277756
3    2018-07-01              SUN           Solar   16719
4    2018-07-01              WAT           Hydro    6187
...         ...              ...             ...     ...
9130 2023-07-01                D          Demand  683781
9131 2023-07-01               NG  Net Generation  686368
9132 2023-07-01              NUC         Nuclear  285400
9133 2023-07-01              SUN           Solar   34890
9134 2023-07-01              WAT           Hydro    8100

[9135 rows x 4 columns]

# Final Data Frame (State Total)

In [12]:
%store energy_SC

Stored 'energy_SC' (DataFrame)