# Abstract

Summary of final Energy and Weather data frames.

In [1]:
%store -r energy_by_BA
%store -r energy_SC
%store -r avg_weather

# South Carolina Total Energy

In [2]:
energy_SC

           Date Measurement Code     Measurement     MWh
0    2018-07-01                D          Demand  708190
1    2018-07-01               NG  Net Generation  705031
2    2018-07-01              NUC         Nuclear  277756
3    2018-07-01              SUN           Solar   16719
4    2018-07-01              WAT           Hydro    6187
...         ...              ...             ...     ...
9130 2023-07-01                D          Demand  683781
9131 2023-07-01               NG  Net Generation  686368
9132 2023-07-01              NUC         Nuclear  285400
9133 2023-07-01              SUN           Solar   34890
9134 2023-07-01              WAT           Hydro    8100

[9135 rows x 4 columns]

# South Carolina Average Weather

In [3]:
avg_weather

,Date,Avg. Apparent Temperature (F),Avg. Temperature at 2m (F),Sunshine Duration (sec),Total Shortwave Radiation (MJ/m2),Total Shortwave Radiation (MJ/m2),Total Precipitation (mm),Total Precipitation Time (hrs),Evapotranspiration (mm),Weather Code (WMO),Weather Description
0,2018-07-01,88.824806,80.506638,59487100.0,30176.480469,30176.480469,7353.800293,11119.0,6473.490234,61.0,Light Rain
1,2018-07-02,90.352264,81.567917,58388756.0,30987.919922,30987.919922,967.800049,5028.0,6670.724121,51.0,Light Drizzle
2,2018-07-03,90.680389,82.779175,64140336.0,32756.509766,32756.509766,1259.000000,4459.0,7452.395508,51.0,Light Drizzle
3,2018-07-04,86.927147,81.032707,64218920.0,31787.320312,31787.320312,3901.800049,12175.0,7193.635254,51.0,Light Drizzle
4,2018-07-05,87.815704,80.624733,62815980.0,31246.890625,31246.890625,3143.399902,12648.0,6727.424805,51.0,Light Drizzle
...,...,...,...,...,...,...,...,...,...,...,...
1822,2023-06-27,82.439423,79.051910,64923160.0,37711.000000,37711.000000,4710.799805,2300.0,8611.208008,51.0,Light Drizzle
1823,2023-06-28,83.100731,78.667862,65083484.0,36847.851562,36847.851562,153.100006,673.0,7943.381348,1.0,Mainly Sunny
1824,2023-06-29,84.788788,79.303993,64884104.0,36341.070312,36341.070312,361.100006,1679.0,7783.172852,51.0,Light Drizzle
1825,2023-06-30,86.435852,79.916328,56151436.0,29727.490234,29727.490234,846.200012,2197.0,6515.165039,51.0,Light Drizzle
1826,2023-07-01,88.742973,81.121582,63976396.0,35317.859375,35317.859375,868.100037,2573.0,7622.191895,51.0,Light Drizzle

# South Carolina Energy by Balancing Authority

In [4]:
energy_by_BA

,Date,Balancing Authority Code,Balancing Authority,Measurement Code,Measurement,MWh
0,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",D,Demand,80401
1,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",NG,Net Generation,89228
2,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",NUC,Nuclear,23596
3,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",SUN,Solar,2153
4,2018-07-01,SCEG,"Dominion Energy South Carolina, Inc.",WAT,Hydro,1032
...,...,...,...,...,...,...
34784,2023-07-01,CPLE,Duke Energy Progress East,WAT,Hydro,729
34785,2023-07-01,SC,South Carolina Public Service Authority,D,Demand,86433
34786,2023-07-01,SC,South Carolina Public Service Authority,NG,Net Generation,68687
34787,2023-07-01,SC,South Carolina Public Service Authority,SUN,Solar,1351
34788,2023-07-01,SC,South Carolina Public Service Authority,WAT,Hydro,1212